* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#toggle:checked + label {
  display: flex !important;
}

#toggle + label {
  display: none !important;
}

@media screen and (max-width: 768px) {
  #root {
    content: 'chua ho tro';
    display: none;
  }

  #alert {
    display: block !important;
    color: red;
  }
}